@import '/src/app/core/scss/variables.scss'; 
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* Estilos comunes para ambos temas */

body,html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;

  }
  
  /* Estilos específicos para el tema oscuro */
  .dark-theme {
    @import '/src/app/core/scss/dark-theme.scss';
    background-color: $body-bg;
    color: $body-color;
  }
  
  /* Estilos específicos para el tema claro */
  .light-theme {
    @import '/src/app/core/scss/light-theme.scss';
    background-color: $body-bg;
    color: $body-color;
  }
  
  /* Resto de estilos comunes */
  body::-webkit-scrollbar {
    display: none;
  }
 //como puedo hacer para que cada una de los componentes que comienzen con app- tengan el mismo estilo de fondo y color de letra que el tema que se seleccione
 app-{
    background-color: $body-bg;
    color: $body-color;
 }
  