<!-- <nav class="navbar navbar-expanded-lg bg-body-tertiary" [class.dark-theme]="themeService.isDarkThemeEnabled()">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-4">
                                <a href="#" class="navbar-brand">Ruben Farias De Alba</a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 header-nav-menu-container">
                                <div class="container-fluid">
                                    <div class="row  justify-content-end">
                                        <div class="col">
                                            <a [routerLink]="'about-me'" >About me</a>
                                        </div>
                                        <div class="col">
                                            <a [routerLink]="'portfolio'">Portfolio</a>
                                        </div>
                                        <div class="col">
                                            <a href="#">Contact</a>
                                        </div>
                                        <div class="col">
                                            <a href="#">Skills</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </nav> -->
    <nav class="navbar navbar-expand-lg bd-navbar sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ruben Farias De Alba</a>
        
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="'about-me'"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                        class="nav-link" >About me</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="'portfolio'" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                        class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Skills</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <button (click)="changetheme()">a</button>
            </div>
        </div>
    </nav>
