                <nav class="header-navbar-body">
                    <div class="container-fluid">
                        <div class="row justify-content-between">
                            <div class="col-lg-4 col-md-6 col-sm-12 header-nav-brand-container text-center mb-4">
                                <a href="#" class="header-nav-brand">Ruben Farias De Alba</a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 header-nav-menu-container">
                                <div class="container-fluid">
                                    <div class="row  justify-content-end">
                                        <div class="col">
                                            <a [routerLink]="'about-me'" >About me</a>
                                        </div>
                                        <div class="col">
                                            <a [routerLink]="'portfolio'">Portfolio</a>
                                        </div>
                                        <div class="col">
                                            <a href="#">Contact</a>
                                        </div>
                                        <div class="col">
                                            <a href="#">Skills</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </nav>