<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="section-title"> About me</h2>
        </div>
        <div class="col-12">
            
        <div class="divider-line-section"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                 Distinctio, aperiam. Maxime veritatis voluptates eos commodi nisi adipisci veniam error,
                 eius quo enim doloremque blanditiis voluptatibus cum fugiat dolor vitae molestiae!
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Distinctio, aperiam. Maxime veritatis voluptates eos commodi nisi adipisci veniam error,
                eius quo enim doloremque blanditiis voluptatibus cum fugiat dolor vitae molestiae!
           </p>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio, aperiam. Maxime veritatis voluptates eos commodi nisi adipisci veniam error,
            eius quo enim doloremque blanditiis voluptatibus cum fugiat dolor vitae molestiae!
            </p>

        </div>
    </div>
</div>